h1 {
    text-align: center;
}


#joke {
    background: lightgrey;
    font-size: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%; 
}

.joke {
    background: white;
    padding: 10px;
    border: 1px solid black;
    margin: 20px;
}